.venv/
build/
__pycache__/
*.o
*.so
*.pyd
methods_cython/global_spai.cpp
methods_cython/methods.cpp
img/global-spai/
img/spai/
img/methods/
.vscode/
.DS_Store
*.tmp
*.temp
*.swp
*.swo
*.bak
*.orig
*.rej
*.log
